<h1> ข้อมูลส่วนตัว </h1>


<% if user_signed_in? %>
 <p>
	  <strong>อีเมลล์:</strong>
	   <%= @user.email %>
	</p>

	<strong>เปลี่ยนพาสเวิร์ด:</strong>
	<%= link_to edit_user_registration_path do %>
                <i class="fa fa-gear lg"></i> ตั้งค่า 
    <% end %>

<div class="form-group">
    <label for="exampleInputFile">ภาพของฉัน:</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">	</p>
</div>

<% else %>
   <p>
	  <strong>ยินดีต้อนรับสู้บล๊อก</strong>
	</p>
	 <p>
	  <strong>ร่วมแชร์ประสบการณ์ และความรู้ต่างๆกับเรา</strong>
	</p>
<% end %>